extends layout 

block layout-content 
  div.View.ColorView
  h1.Banner='Color Palette'
  div.colorPage
    h2 Select Your Faves
    ul(id='colorOptions')
      each val, key in colors
        button.colorBlock.colorOption(type="submit" value=`${val}` style=`background-color: ${colors[key]}`)=val
    span(id='tryAgain').NavButton.tryAgain Load More Colors
    hr
    h2 Faves 
    ul(id='favColors')
      if favs.length > 0
        each fav in favs
          button.colorBlock.favColor(type="submit" value=`${fav}` style=`background-color: ${fav}`)=fav
      else
        button.colorBlock.noFav(type="submit" value=0 style=`background-color: ${000000}`)="No Faves Yet!"
    div.NavButtons
      div.NavButton(id='downloadScss') Download .scss
      div.NavButton(id='downloadTxt') Download .txt
      div.NavButton(id='downloadJson') Download .json
      span
      span
      span
      a(href="/")
        div.NavButton Back to Home
