extends layout 

block layout-content 
  div.View.WelcomeView
  h1.Banner='Color Palate'
  p(id='colors') Selected Color Scheme
    div.NavButtons
    a(href="/colors")
      div.NavButton Try Again
  ul
    each val, key in colors
      button.colorBlock(style=`background-color: ${colors[key]}`)= val
  h2 Faves 
  ul 
    each val, key in favs
      li.colorBlock(style=`background-color: ${favs[key]}`)= val

  div.NavButtons
    a(href="/")
      div.NavButton Back to Home