extends layout 

block layout-content 
  div.View.WelcomeView
  h1.Banner='Color Palate'
  p(id='colors') Selected Color Scheme
  ul
    each val, key in colors
      li.colorBlock(style=`background-color: ${colors[key]}`)= val
  div.NavButtons
    a(href="/")
      div.NavButton Back to Home