extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner colorIZE
    div.NavButtons
      a(href="/colors")
        div.NavButton.startButton Let's colorIZE!
    div.Message
      div.Title
        h3 Color is FUN
        h1 Color is EASY
        br
        h4 <em> ESPECIALLY </em> ...when a computer does it for you &nbsp; 👀
      span.Details Start picking a color scheme today
