block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | colorIZE
    link(rel='stylesheet' href='/style.css')
    //- link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet")
    script(src="https://kit.fontawesome.com/9a261bd0ea.js" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(type="text/javascript" src="/client.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")

  body
    div#root
      block layout-content